.fontS {
  font-size: $font-size-small !important
}

.fontM {
  font-size: $font-size !important
}

.fontL {
  font-size: $font-size-lerge !important
}

.fontLL {
  font-size: $font-size-max-lerge !important
}
