@charset "utf-8";

@import "normalize";
@import "variable";

body {
  color: $font-color;
  line-height: $base-line-height;
}

h1 {
  font-size: $font-size-max-lerge;
  line-height: 1.2;
}

.article {

  h2 {
	  font-size: $font-size-lerge;
	  line-height: 1.2;
  }

  img {
    max-width: 100%;
  }
}
