!!! 5
%html
  %head
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{charset: 'utf-8'}
    - if current_page.data.title
      %title= current_page.data.title
    - else
      %title ブログタイトル
    = stylesheet_link_tag :site
    = javascript_include_tag :all
  %body
    = yield
