---
title: Welcome to Middleman
---
%h1 ブログタイトル

%article
  #{blog.articles.size}件
  - blog.articles[0...5].each do |article|
    = link_to article.url do
      %h2= article.title
      %time= article.date.strftime('%Y年%-m月%-d日')
